.main{
    margin: 40px;
    background-color: #f7f7f7;
}
.body {
    background-color: #9d9d9d;
}

.btn-publish{
    float: right;
    margin-bottom: 20px;
}

.text{
    margin: 15px;
    line-height: 1.5;
    font-size: 16px;
}
.touxiang{
    width: 44px;
    height: 44px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
