.main{
    margin: 40px;
    background-color: #f7f7f7;
}
.body {
    background-color: #9d9d9d;
}

.btn-publish{
    float: right;
    margin-bottom: 20px;
}

.text{
    margin: 15px;
    line-height: 1.5;
    font-size: 16px;
}
.touxiang{
    width: 44px;
    height: 44px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.text-desc .icon {
    cursor: pointer;
}

.text-desc .icon:hover{
    color: #66afe9;
}
.subcomments {
    /*margin-top: 5px;*/
    /*margin-bottom: 7px;*/
}

.sub-comments-kuang {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
