<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>北海社区</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript" ></script>
</head>
<body>
<!-- topbar-->
<div th:replace="/common/topbar::topbar"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2>
                <span class="glyphicon glyphicon-list" aria-hidden="true">发现</span>
            </h2>
            <hr>
            <div class="media" th:each="question:${pagInations.questionDtoList}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object touxiang img-rounded" src="https://avatars0.githubusercontent.com/u/21342946?v=4">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${question.title}">我是天才</h4>
                    <span th:text="${question.description}">我智商高，相貌好，人品优秀，简直完美</span><br>
                    <span class="text-desc">
                        <span th:text="${question.commentCnt}"></span> 个回复 ·
                        <span th:text="${question.viewCnt}"></span> 次浏览 ·
                        <span th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:mm')}"></span>
                    </span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagInations.showFirstPage==true}">
                        <a href="#" aria-label="Previous" th:href="@{/(page=1)}">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagInations.showPrevious==true}">
                        <a href="#" aria-label="Previous" th:href="@{/(page=${pagInations.currentPage-1})}">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="pp:${pagInations.pages}" th:class="${pagInations.currentPage==pp}?'active'">
                        <a th:href="@{/(page=${pp})}" th:text="${pp}"></a>
                    </li>
                    <li th:if="${pagInations.showEndPage==true}">
                        <a href="#" aria-label="Next" th:href="@{/(page=${pagInations.currentPage+1})}">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagInations.showNext==true}">
                        <a href="#" aria-label="Next" th:href="@{/(page=${pagInations.totalpage})}">
                            <span aria-hidden="true">&gt;&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h5 class="text">热门话题</h5>
        </div>
    </div>
</div>
</body>
</html>
